html,
body {
    height: 100%;
    background-color: rgb(4, 39, 67);
}
#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#timer {
    text-align: center;
    color: white;
    font-size: 60px;
    padding: 50px;
}

#contests {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.contestDiv {
    background-color: rgb(19, 70, 110);
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 20px;
}
.contestName {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 1px;
}
p {
    margin-top: 2px;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 1px;
}
.link {
    color: white;
    font-size: 16px;
}